{%extends 'base.html' %}
{%block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{%endblock%}
{%block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{{url_for('static', filename='image/sheep.svg')}}" id="icon" alt="User Icon" height="20" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>

{%endblock%}