{%extends 'navbar.html'%}

{%block newsfeeds %}

<div class="container-fluid gedf-wrapper" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-1 gedf-main"></div>
        <div class="col-md-7 gedf-main">
            <!-- Post /////-->
            <!--- \\\\\\\Post-->
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <button type="button" class="btn btn-outline-success">
                                    <div class="row">
                                        <div class="col-md-3 gedf-main">
                                            <img src="/static/image/fire.png" alt="" style="width:25px;">
                                        </div>
                                        <div class="col-md-8 gedf-main">
                                            Hot
                                        </div>
                                    </div>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <button type="button" class="btn btn-outline-success">
                                    <div class="row">
                                        <div class="col-md-3 gedf-main">
                                            <img src="/static/image/new.png" alt="" style="width:25px;">
                                        </div>
                                        <div class="col-md-8 gedf-main">
                                            Explore
                                        </div>
                                    </div>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="/static/image/youtube.png" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0 " style="color:#60b27f">#OnTheGround</div>
                                        <div class="h7 text-muted">Posted on YouTube</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-body">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/CKZvWhCqx1s"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="row">
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/iconfinder_twitter_circle_294709_1.png" style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">93m</span>
                            </div>
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/instagram.png" style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">40m</span>
                            </div>
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/iconfinder_tiktok_logo_app0_7024783_1.png"
                                    style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">70m</span>
                            </div>
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/youtube.png" style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">104m</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6 gedf-main">
                                    <div class="row">
                                        <div class="col-md-2 gedf-main">
                                        </div>
                                        <div class="col-md-3  gedf-main">
                                            <a href="#" class="card-link" style="color:#60b27f"><i
                                                    class="fa fa-arrow-up"></i> Up</a>
                                        </div>
                                        <div class="col-md-2 gedf-main">
                                            1322
                                        </div>
                                        <div class="col-md-3 gedf-main">
                                            <a href="#" class="card-link" style="color:#60b27f"><i
                                                    class="fa fa-arrow-down"></i> Down</a>
                                        </div>
                                        <div class="col-md-2 gedf-main">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 gedf-main">
                                    <a href="#" class="card-link" style="color:#60b27f"><i class="fa fa-comment"></i>
                                        Comment</a>
                                </div>
                                <div class="col-md-3 gedf-main">
                                    <div data-toggle="popover" data-placement="bottom" data-toggle="popover"
                                        title="Social media">
                                        <a style="color:#60b27f;">View more</a>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('[data-toggle="popover"]').popover({
                                            html: true,
                                            content: function () {
                                                return $('#popover-content').html();
                                            }
                                        });
                                    });
                                </script>
                                <div id="popover-content" style="display: none">
                                    <ul class="list-group custom-popover">
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Twitter
                                                    <span class="badge badge-success">15</span>
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Instagram
                                                    <span class="badge badge-success">22</span>
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Youtube
                                                    <span class="badge badge-success">15</span>
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Tiktok
                                                    <span class="badge badge-success">22</span>
                                                </h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45"
                                            src="/static/image/iconfinder_twitter_circle_294709_1.png" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0 " style="color:#60b27f">#MewSuppasit</div>
                                        <div class="h7 text-muted">Posted on Twitter</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <blockquote class="twitter-tweet">
                                    <p lang="vi" dir="ltr">Còn nói thật nhé, các mem trong nhóm chưa là gì đâu, đ phải
                                        tiêu chuẩn lon gì cả. Mà đã mất công so thì sao đ đi so cmn với đại vocal đại
                                        rapper đại visual bên ngoài ấy so vs mấy thành phần làng nhàng tầm trung còn
                                        chẳng đc lgi?</p>&mdash; iamd (@iamd42537116) <a
                                        href="https://twitter.com/iamd42537116/status/1373496075479257095?ref_src=twsrc%5Etfw">March
                                        21, 2021</a>
                                </blockquote>
                            </div>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <div class="row">
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/iconfinder_twitter_circle_294709_1.png" style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">243000</span>
                            </div>
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/instagram.png" style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">42320</span>
                            </div>
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/iconfinder_tiktok_logo_app0_7024783_1.png"
                                    style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">3242</span>
                            </div>
                            <div class="col-md-3 gedf-main">
                                <img src="/static/image/youtube.png" style="height: 20px;">
                                <span class="badge badge-success" style="margin-bottom: 10px;">12131</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6 gedf-main">
                                    <div class="row">
                                        <div class="col-md-2 gedf-main">
                                        </div>
                                        <div class="col-md-3  gedf-main">
                                            <a href="#" class="card-link" style="color:#60b27f"><i
                                                    class="fa fa-arrow-up"></i> Up</a>
                                        </div>
                                        <div class="col-md-2 gedf-main">
                                            1322
                                        </div>
                                        <div class="col-md-3 gedf-main">
                                            <a href="#" class="card-link" style="color:#60b27f"><i
                                                    class="fa fa-arrow-down"></i> Down</a>
                                        </div>
                                        <div class="col-md-2 gedf-main">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 gedf-main">
                                    <a href="#" class="card-link" style="color:#60b27f"><i class="fa fa-comment"></i>
                                        Comment</a>
                                </div>
                                <div class="col-md-3 gedf-main">
                                    <div data-toggle="popover" data-placement="bottom" data-toggle="popover"
                                        title="Social media">
                                        <a style="color:#60b27f;">View more</a>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('[data-toggle="popover"]').popover({
                                            html: true,
                                            content: function () {
                                                return $('#popover-content').html();
                                            }
                                        });
                                    });
                                </script>
                                <div id="popover-content" style="display: none">
                                    <ul class="list-group custom-popover">
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Twitter
                                                    <span class="badge badge-success">15</span>
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Instagram
                                                    <span class="badge badge-success">22</span>
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Youtube
                                                    <span class="badge badge-success">15</span>
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">
                                                <h6> Tiktok
                                                    <span class="badge badge-success">22</span>
                                                </h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post /////-->

        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Top trending</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Top trending over social media</h6>
                    <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="#" style="color:#60b27f">#trend1</a>
                            <span class="badge badge-light badge-pill">
                                <img src="/static/image/iconfinder_twitter_circle_294709_1.png" style="height: 15px;">
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="#" style="color:#60b27f">#trend2</a>
                            <span class="badge badge-light badge-pill">
                                <img src="/static/image/instagram.png" style="height: 15px;">
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="#" style="color:#60b27f">#trend3</a>
                            <span class="badge badge-light badge-pill">
                                <img src="/static/image/youtube.png" style="height: 15px;">
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="#" style="color:#60b27f">#trend4</a>
                            <span class="badge badge-light badge-pill">
                                <img src="/static/image/iconfinder_tiktok_logo_app0_7024783_1.png"
                                    style="height: 15px;">
                            </span>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1 gedf-main"></div>
    </div>
</div>

{%endblock%}